body {
  padding-top: 30px;
  padding-right: 15px;
  width: 300px;
}

.well {
  padding: 19px 0;
}

.well label {
  width: auto;
  padding: 6px 8px 0 14px;
}

.container-fluid p {
  padding: 6px 8px 0 14px;
  margin-bottom: 0px;
}
.container-fluid input[type='time'] {
  width: 95px;
}
.progress .sr-only {
	color: #000;
	position: absolute;
	width: 290px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
}
.progress .sr-only span {
	font-size: 11px;
}

#sat_holiday {
  display: none;
  text-align: center;
}

sup {
  font-size: small;
}